<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Hello Vue.js</title>

  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>

</head>
<body>
  <div id="v-for-object">

    <h1>{{ lists }}</h1>
    <ul>
      <li v-for="(value, index) in lists">
        {{ index }} - {{ value }} => {{ value.message }}
      </ul>

      <br><br>

      <h2>{{ object }}</h2>
      <ul>
        <li v-for="(value, key, index) in object">
          {{ index }} - {{ key }}: {{ value }}
        </li>
      </ul>

    </div>

    <div>
      <video width="320" height="240" controls>
        <source src="../../../../Videos/001 Welcome To The Course.mp4" type="" media="">
      </video>
    </div>

  <script>

  new Vue({
    el: '#v-for-object',
    data: {
      object: {
        firstName: 'Phong',
        lastName: 'Vo',
        age: 30
      },
      parentMessage: 'Parent',
      lists: [
      { message: 'Foo' },
      { message: 'Bar' },
      ],
    },

  });

  </script>

</body>
</html>
