
#box1 {
    background:red;
}

#box2 {
    /* box-sizing:border-box; */
    width:1200px;
    height:1200px;
    background-repeat:no-repeat;
    background-position:top right;
    background-size: 200px 300px;

    margin:20px 0 0 5px;
    border:20px solid red;
    padding: 30px;
    background-image:url('https://i.pinimg.com/originals/95/5a/f4/955af487f0977a0967d2c6ff286614f0.jpg')
}

.container {
    width: 960px;
    margin:0 auto;
    border:3px solid red;
    padding:2em;
}

#content {
    overflow:auto;
}

#post {
    background:yellow;
    width:560px;
    height:300px;
    float:left;

}

#sidebar {
    background:orange;
    width:400px;
    height:300px;
    float:right;
}